**/node_modules
**/dist
**/dist-cjs
**/build
**/release
**/uploads
**/*.db
**/*.sqlite
**/*.sqlite-*
.git
.env
.env.*
docker/certs
docker/**/datas
playwright-report
playwright-*-report
test-results
release-keys
docker/backups
.turbo
